:root {
    --primary-color: #2ea44f;
    --secondary-color: #393939;
    --background-color: #f2f2f2;
}

.cataloging-nav {
    background-color: var(--secondary-color);
    overflow: hidden;
}

.page_link {
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.page_link.enabled:hover {
    background-color: var(--primary-color);
}

.page_link.enabled.active {
    background-color: var(--primary-color);
}

.cataloging-window {
    padding-top: 1.75rem;
    border: 2px solid var(--secondary-color);
}

.page_element_container {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #888;
    padding: 1.5rem;
}

.page_element_container.selected_result_holder {
    border-bottom: none;
}




.error_message.active {
    color: #ff0000;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.change_page_container {
    width: 100%;
    padding: 0 2rem .5rem 2rem;
    padding-right: 2.5rem;
    text-align: right;
}

.change_page_container span {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--secondary-color);
    cursor: pointer;
}

.change_page_container span.disabled {
    color: #AAA;
    cursor: pointer;
}

.change_page_container span:hover {
    color: #AAA;
}

.change_page_container span.disabled:hover {
    color: #AAA;
}








.error_message_row {
    text-align: center;
}



.select_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal_btns_container .btn {
    width: 10rem;
}

.hidden {
    display: none;
}