/* GENERAL STYLES BEGIN */
:root {
    --primary-color: #2ea44f;
    --secondary-color: #393939;
    --background-color: #f2f2f2;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.hidden {
    display: none !important;
}

button,
a {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
}

/* GENERAL STYLES END */


#index-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#program-wrapper {
    width: calc(100% - 4rem);
    height: 100%;
    padding: 2rem;
}

.main-box {
    padding: 2rem;
    border-bottom: 2px solid #A2A2A2;
    box-shadow: 0.15rem 0.15rem 0.5rem 0.05rem #A2A2A2;
}

#sidebar {
    display: table-cell;
    width: 15%;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    background-color: #111;
}

#main-content {
    width: 80%;
    vertical-align: top;
    position: relative;
}

.container h2 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}


.sub-option {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sub-option a>* {
    pointer-events: none;
}

.sub-option a,
.sub-option .fa-caret-right,
.sub-option .fa-caret-left {
    font-size: 1.15rem;
    color: #818181;
    cursor: pointer;
}

.sub-option a:hover,
.sub-option a:hover .fa-caret-right,
.sub-option a:hover .fa-caret-left {
    color: #262626;
}

.sub-option.continue-option>a,
.sub-option.back-option>a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-option .fa-caret-right {
    margin-left: .75rem;
}

.sub-option .fa-caret-left {
    margin-right: .75rem;
}

.sub-option.continue-option {
    justify-content: right;
}

.sub-option.back-option {
    justify-content: left;
}

.send-data-btn:hover {
    background-color: #B2B2B2;
}

#table {
    width: 100%;
    margin-bottom: 1.5rem;
}

#table th,
#table td {
    padding: 1.5rem;
    background-color: #F2F2F2;
    box-shadow: 0.15rem 0.15rem 0.5rem 0.05rem #A2A2A2;
}

#result-container {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

#result-container {
    width: 60vw;
    height: 40vh;
    margin: 0px auto;
    box-shadow: 0.15rem 0.15rem 0.5rem 0.05rem #A2A2A2;
    background-color: #F2F2F2;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#result-container p {
    color: #00FF00;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}

/*Window's general styles*/

.current_window {
    padding-top: 1.75rem;
    border: 2px solid var(--secondary-color);
}

/*Nav bar styles*/

.window_nav {
    background-color: var(--secondary-color);
    overflow: hidden;
}

.page_link {
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.page_link.enabled {
    background-color: var(--primary-color);
}

.page_link.enabled:hover {
    background-color: var(--primary-color);
}

.page_link.enabled.active {
    background-color: var(--primary-color);
}

/*Page's basic styles*/

.page_element_container {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #888;
    padding: 1.5rem;
}

.change_page_container {
    width: 100%;
    padding: .5rem 2rem;
}

.change_page_container.right {
    text-align: right;
}

.change_page_container.left {
    text-align: left;
}

.change_page_container.both {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change_page_container span {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--secondary-color);
    cursor: pointer;
}

.change_page_container span.disabled {
    color: #AAA;
    cursor: pointer;
}

.change_page_container span:hover {
    color: #AAA;
}

.change_page_container span.disabled:hover {
    color: #AAA;
}

/*Forms styles*/

.form {
    width: 100%;
    max-width: 400px;
}

.form input {
    margin-bottom: 0.5rem;
}

.form legend:first-child {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .25rem;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="password"],
.form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #888;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}

.catalog_card input.editing,
.catalog_card select.editing {
    border: 2px solid #00CC00;
}

.form .input-group-text {
    cursor: pointer;
    border: 1px solid #888;
}

.form .input-group input {
    flex: 1 1 auto;
    width: 1%;
}

/*Modal styles*/

#modal {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#modal .icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem .5rem;
}

.icons_container span {
    cursor: default;
    color: #888;
    font-size: 24px;
}

.icons_container span.active {
    cursor: pointer;
    color: var(--secondary-color);
}

.icons_container span.active:hover {
    color: #888;
}

.icons_container span.active:active {
    color: var(--secondary-color);
}

#modal .left_icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_icons_container span {
    margin-right: .75rem;
}

#modal .modal_content {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 80%;
    max-height: 85vh;
    width: auto;
    background-color: #fff;
    padding: 1.25rem;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

#modal .table_container {
    flex: 1;
    overflow-y: auto;
}

.modal_btns_container>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_btns_container .btn {
    min-width: 12rem;
    width: auto;
}

/*Tables styles*/

.results_table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.results_table td,
.results_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.results_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color: white;
}

.results_table tr:nth-child(even) {
    background-color: var(--background-color);
}

.results_table tr:hover {
    background-color: #ddd;
}

.results_table .result_option {
    cursor: pointer;
}

.results_table input.edition {
    width: 100%;
    padding: .5rem;
    background-color: inherit;
    font-size: 1rem !important;
    font-family: "Lato", sans-serif !important;
    border: none;
    border-bottom: 1px solid #888;
    outline: none;
}

.results_table input.edition {
    width: 100%;
    padding: .5rem;
    background-color: inherit;
    font-size: 1rem !important;
    font-family: "Lato", sans-serif !important;
    border: none;
    border-bottom: 1px solid #888;
    outline: none;
}

/* CATALOG CARDS STYLES */

.catalog_cards_container {
    margin: auto;
}

.catalog_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 2.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.search_related_objects.active {
    cursor: pointer;
}

.search_related_objects.active:hover {
    background-color: #2EA44FDD;
}

.search_related_objects.active:hover i {
    color: #FFF;
}

.search_related_objects.active:active {
    background-color: #2EA44FEE;
}

/*Buttons styles*/

.btn {
    background-color: var(--primary-color) !important;
    border: 1px solid rgba(27, 31, 35, .15) !important;
    border-radius: 6px !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 1rem !important;
    line-height: 20px !important;
    padding: 6px 16px !important;
    text-align: center !important;
    white-space: nowrap !important;
    transition: background-color 0.3s !important;
}

.btn:hover {
    background-color: #2c974b;
}

.btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Error messages styles*/

.error_message_row {
    text-align: center;
}

.error_message.active {
    color: #ff0000;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.ending_message_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success_message.active {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #00CC00;
}

.sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 1.5rem;
}

.sidenav a,
.dropdown-btn {
    width: 100%;
    padding: .5rem .5rem .5rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    display: block;
    border: none;
    background: none;
    text-align: left;
    outline: none;
}

.dropdown_link {
    color: #818181 !important;
}

.sidenav a:hover,
button[class$="dropdown-btn"] {
    color: #f1f1f1;
}

.sidenav .dropdown-btn.active,
.sidenav a.active {
    background-color: #04AA6D;
    color: white;
}

div[class$="-dropdown"] {
    display: none;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: .5rem;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%255,255,255,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}