body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-wrapper {
    height: 100vh;
}

.container-centered {
    width: 80%;
    /* Puedes ajustar el ancho según tus preferencias */
    height: 80vh;
    /* Puedes ajustar la altura según tus preferencias */
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    /* Puedes cambiar el color de fondo según tus preferencias */
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

/* ... (resto del código para el menú lateral) ... */

#content {
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.container-fluid {
    /* Puedes personalizar el estilo de tu contenido aquí */
}